.cell {
  flex: 1 0 33.333%;
  margin: 0;
  border: 3px solid white;
  color: white;
  background: rgb(220, 219, 234);
  font-size: 2rem;
}

.cell:focus {
  outline: none;
}
.cell:active {
   outline: 6px rgb(249, 212, 206) solid;
}

.cell-valid {
  background: rgb(218, 231, 206);
}

.cell-void {
  visibility: hidden;
}
